*
{
    margin: 0;
    padding: 0;

    font-family: Roboto;
}

.about-shadow{
    width: 100%;
    height: 200px !important;
    box-shadow: 0px 0px 44px 0px #0000008C inset;
    border: 1px solid black;

}
.about_hero_text{
   
    background: linear-gradient(180deg, #00556E 0%, #00A4D4 100%);

}

.img-fluid {
    width: 100%;
    height: auto;
  }
  

