* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}








.login_btn {
    /* background-color: #FF0000; */
    background-color: #0080A7;

    color: white;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}




.nav_fonts {
    font-family: "Roboto", serif;
}


.nav_user {
    /* background-color: #FF0000; */
    /* color: white; */
    /* border-radius: 20px; */
    background: none;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.list_gap {
    gap: 45px;
}


.lg_none {

    display: none !important;
}

/* Hide extra list items on mobile by default */
@media screen and (max-width: 500px) {

    .list_gap {
        gap: 25px;
    }



    .txt_hide {
        display: none;
    }

    .lg_none {

        display: block !important;
    }
}




/* ----------------------------------------------------------- */

.hero_txt {
    width: 654px;
    height: 69px;
    gap: 0px;
    opacity: 0px;

    font-family: Roboto;
    font-size: 33.55px;
    font-weight: 700;
    line-height: 68.61px;
    letter-spacing: 0.05em;
    margin-top: 50px;

    padding-left: 100px;


}

/* mobile l  */
@media screen and (max-width: 425px) {

    .heroinside_txt {
        width: 400px;
        height: 220px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 23px;
        line-height: 68.61px;
        letter-spacing: 4%;
        text-align: center;
        margin-left: -60px;

    }

    .heroinside_para {
        width: 350px;
        height: 220px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 19px;
        line-height: 30.87px;
        letter-spacing: 4%;
        margin-left: -26px;
        text-align: center;


    }




}

/* mobile m */
@media screen and (max-width: 375px) {

    .heroinside_txt {
        width: 400px;
        height: 220px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 23px;
        line-height: 68.61px;
        letter-spacing: 4%;
        text-align: center;
        margin-left: -80px;

    }

    .heroinside_para {
        width: 340px;
        height: 220px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 20px;
        line-height: 30.87px;
        letter-spacing: 4%;
        margin-left: -46px;
        text-align: center;


    }


}

/* mobile s */
@media screen and (max-width:320px) {

    .heroinside_txt {
        width: 310px;
        height: 220px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 18px;
        line-height: 38.61px;
        letter-spacing: 1%;
        text-align: center;
        margin-left: -70px;

    }

    .heroinside_para {
        width: 300px;
        height: 220px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 17px;
        line-height: 30.87px;
        letter-spacing: 4%;
        margin-left: -56px;
        text-align: center;
        margin-top: -70px;


    }



}







@media screen and (min-width: 768px) and (max-width: 1024px) {
    .heroinside_txt {

        font-family: Roboto;
        font-weight: 700;
        font-size: 28px;
        line-height: 68.61px;
        letter-spacing: 4%;
        text-align: center;
        margin-left: -80px;

    }



    .heroinside_para {
        width: 400px;
        height: 220px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 25px;
        line-height: 30.87px;
        letter-spacing: 4%;
        /* margin-left: -66px; */
        text-align: center;
        margin-top: 25px !important;


    }

    .rec_img {
        width: 300px;
        height: 205px;
        margin-top: 230px !important;

        margin-left: 180px;

    }

}





@media (min-width: 768px) and (max-width: 1024px) {
    .hero_txt {
        width: 654px;
        height: 69px;

        font-family: Roboto;
        font-size: 33.55px;
        font-weight: 700;
        line-height: 68.61px;
        letter-spacing: 0.05em;
        margin-top: 50px;

        padding-left: 200px;


    }


    .heroinside_para {
        width: 400px;
        height: 220px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 22px;
        line-height: 30.87px;
        letter-spacing: 4%;

        text-align: center;


    }


    .rec_img {
        width: 300px;
        height: 205px;
        margin-top: 150px;

        margin-left: 180px;

    }
}


.rec_img {
    width: 428px;
    height: 305px;

}

/* mobile s */
@media screen and (max-width:320px) {

    .rec_img {
        width: 250px !important;
        height: 180px !important;
        margin-top: 200px !important;

        margin-left: 30px !important;

    }
}


/* mobile m */
@media screen and (max-width:375px) {

    .rec_img {
        width: 300px;
        height: 205px;
        margin-top: 260px;

        margin-left: 30px;

    }


}

/* mobile l */
@media screen and (max-width:725px) {

    .rec_img {
        width: 300px;
        height: 205px;
        margin-top: 260px;

        margin-left: 60px;

    }


}





@media (max-width: 500px) {


    .hero_txt {
        width: 500px;
        height: 69px;
        font-family: Roboto;
        font-size: 58.55px;
        font-weight: 700;
        line-height: 68.61px;
        letter-spacing: 0.05em;
        margin-top: 30px;
        margin-left: -20px;




    }

}







.bolder {
    /* color: #FF0000; */
    color: #0080A7;
}

.Dropdownbtn_color {
    color: #FFFFFF;
}

.btn_bg {
    width: 200px;
    height: 50.63px;
    margin-top: 2px;
    background-color: #FF0000;
}

@media screen and (max-width:500px) {
    .btn_bg {
        width: 200px;
        height: 50.63px;
        margin-top: 20px;
        background-color: #FF0000;
    }

}


.shadow-sec {
    width: 100%;
    height: 590px;
    box-shadow: 0px 0px 44px 0px #0000008C inset;
    padding-bottom: 0px;
}


/* mobile s */
@media screen and (max-width:320px) {

    .shadow-sec {
        width: 100%;
        height: 900px !important;
        box-shadow: 0px 0px 44px 0px #0000008C inset;
        padding-bottom: 0px;
    }

}

/* mobile m */
@media screen and (max-width:375px) {

    .shadow-sec {
        width: 100%;
        height: 1190px !important;
        box-shadow: 0px 0px 44px 0px #0000008C inset;
        padding-bottom: 0px;
    }

}

/* mobile l */
@media screen and (max-width:425px) {

    .shadow-sec {
        width: 100%;
        height: 1190px;
        box-shadow: 0px 0px 44px 0px #0000008C inset;
        padding-bottom: 0px;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {

    .shadow-sec {
        width: 100%;
        height: 1000px;
        box-shadow: 0px 0px 44px 0px #0000008C inset;
        padding-bottom: 0px;
    }

}



/* ------------------------------------------------------------------------------- */

/* dropdown_width */

.dropdown_width {
    width: 1240px !important;
    height: 80px;
    margin-top: -550px;
    margin-bottom: 0px;
    gap: 0px;


}

/* mobile s */
@media screen and (max-width:320px) {

    .dropdown_width {
        width: 280px !important;
        height: 63px;
        margin-top: -200px !important;
        margin-left: -10px !important;
        margin-bottom: 50px;
        gap: 50px;


    }
}

/* mobile m */
@media screen and (max-width:375px) {

    .dropdown_width {
        width: 330px !important;
        height: 63px;
        margin-top: -300px !important;
        margin-left: -20px;
        margin-bottom: 50px;
        gap: 50px;


    }
}

/* mobile l */
@media screen and (max-width:425px) {

    .dropdown_width {
        width: 350px !important;
        height: 63px;
        margin-top: -340px !important;
        /* margin-left: -20px; */
        margin-bottom: 50px;
        gap: 50px;


    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .dropdown-top {
        width: 700px !important;
        height: 140px !important;
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 25px;
    }



}


.dropdown-top {
    width: auto;
    height: 80px;
}




.dropdown-btn {
    /* background-color: #FF0000; */
    background-color: #0080A7;
    box-shadow: 0px 2.09px 14.61px 0px #00000040;
    border: none;
    color: #FFFFFF;



    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    line-height: 32.5px;
    letter-spacing: 5%;


}


@media screen and (max-width:500px) {
    .dropdown-top {
        width: auto;
        height: auto;
        margin-top: 40px;
    }
}


/* ----------------------------------------- */
/*    register btn  */



/* Default styles for all devices */
.reg_btn {
    width: 200px;
    background-color: #0080A7;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    margin-top: -500px;
    margin-left: -100px;

    box-shadow: 0px 0px 23.09px 0px #00000099 inset;


}

/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    .reg_btn {
        width: 200px;
        background-color: #0080A7;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        position: absolute;
        margin-top: -540px;
        margin-left: -100px;

        box-shadow: 0px 0px 23.09px 0px #00000099 inset;

    }
}

/* Mobile (max-width: 480px) */
@media screen and (max-width: 480px) {
    .reg_btn {

        width: 200px;
        background-color: #0080A7;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        position: absolute;
        margin-top: -270px;
        margin-left: -100px;

        box-shadow: 0px 0px 23.09px 0px #00000099 inset;

    }
}






/* ----------------------------------- */
/* vacant rol */





.vacant-card {
    width: 230px;
    height: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.card-img {
    max-width: 50px;
    height: auto;
}

.vacant_rowsec {
    margin-left: 40px;
}


@media (max-width:320px) {
    .vacant_rowsec {
        height: 350px;
    }
}

@media screen and (max-width: 375px) {
    .vacant_rowsec {
        margin-left: 60px;
        height: 350px;
    }

}



/* -------------------------------------------------------- */



.job_header {
    width: 161px;
    height: 161px;
    background-color: #D9D9D9;
    border-radius: 90px;
    margin-top: 10px;
    margin-left: 100px;
}

.jobheart {

    /* width: 45px ; */
    /* height: 20px ; */
    position: absolute;
    margin-top: 20px;
    margin-left: 310px;

}





/* mobile s */
@media screen and (max-width:320px) {

    .job_header {
        width: 161px;
        height: 161px;
        background-color: #D9D9D9;
        border-radius: 90px;
        margin-top: 10px;
        margin-left: 70px;

    }

}


.job_headerlogo {
    display: block;
    /* Allows width & height to work */
    width: 95px;
    min-height: 16px;
    /* Adjusted instead of padding-top */
    margin-left: 38px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0;
    text-align: center;
    color: white;
}




.job_img {
    width: 200px;
    height: 190px;
}

@media screen and (max-width:500px) {

    .job_img {
        width: 130px;
        height: 180px;
    }

}


.job_sec {
    width: 1070px;
    height: 190px;
    display: flex;
    text-align: center;
    margin-left: 40px;
}


@media screen and (max-width:500px) {
    .job_sec {
        width: 1070px;
        height: 190px;
        display: flex;
        text-align: center;
        margin-left: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .job_sec {
        width: 1070px;
        height: 190px;
        display: flex;
        text-align: center;
        margin-left: 0px;
    }
}


.card-btn {

    width: 300px;
    height: 50px;
    margin-top: 1px;
    margin-left: 15px;
    gap: 10px;
    border-radius: 130px;
    color: #FFFFFF;
    border: none;

    background-color: #0080A7;
}

.card-btn1 {

    width: 300px;
    height: 50px;
    margin-top: 1px;
    margin-left: 15px;
    gap: 10px;
    border-radius: 130px;
    color: #000000;
    border: none;
    background-color: #C1C3CC;
}




@media (max-width:320px) {

    .card-btn {

        width: 250px !important;
        height: 50px;
        margin-top: 1px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #FFFFFF;
        border: none;

        background-color: #0080A7;

    }

    .card-btn1 {

        width: 250px !important;
        height: 50px;
        margin-top: -10px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #000000;
        border: none;
        background-color: #C1C3CC;

    }

    .applybtn_center {
        /* margin-left: -100px !important; */
    }

}



@media (max-width:375px) {

    .card-btn {

        width: 300px !important;
        height: 50px;
        margin-top: 1px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #FFFFFF;
        border: none;

        background-color: #0080A7;
    }

    .card-btn1 {

        width: 300px !important;
        height: 50px;
        margin-top: 1px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #000000;
        border: none;
        background-color: #C1C3CC;
    }




    .applybtn_center {
        margin-left: 10px !important;
    }



}


@media (max-width:425px) {
    .card-btn {

        width: 350px;
        height: 50px;
        margin-top: 1px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #FFFFFF;
        border: none;

        background-color: #0080A7;
    }

    .card-btn1 {

        width: 350px;
        height: 50px;
        margin-top: 1px;
        margin-left: 15px;
        gap: 10px;
        border-radius: 130px;
        color: #000000;
        border: none;
        background-color: #C1C3CC;
    }



}


.applybtn_center {
    margin-left: 10px;
}









.job_viewall {
    /* color: #FF0000; */
    padding-left: 980px;
    color: #000000;

}

.job_viewall:hover {
    color: #FF0000;
    padding-left: 980px;


}

@media screen and (max-width:500px) {
    .job_viewall {
        color: #FF0000;
        padding-left: 130px;

    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .job_viewall {
        color: #FF0000;
        padding-left: 560px;

    }
}




.vacant_header {
    width: 165;
    height: 33;
    font-family: Roboto;
    font-weight: 600;
    font-size: 28px;
    line-height: 32.81px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;


}


.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}



.line {
    width: 50px;
    /* Adjust the length of the lines */
    height: 4px;
    /* Adjust the thickness of the lines */
    background-color: #0081A7;
}

.text {
    color: black;
    font-family: Roboto;
    font-weight: 600;
    font-size: 28px;
    line-height: 32.81px;
    letter-spacing: 0%;
    text-align: center;

}


@media screen and (max-width:320px) {


    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .line {
        width: 50px;
        /* Adjust the length of the lines */
        height: 4px;
        /* Adjust the thickness of the lines */
        background-color: #0081A7;
    }

    .text {
        color: black;
        font-family: Roboto;
        font-weight: 600;
        font-size: 22px;
        line-height: 32.81px;
        letter-spacing: 0%;
        text-align: center;

    }

}

/*   Trending Categories */




.gapfor_lg {
    gap: 10px;
    justify-content: center;
}


@media screen and (max-width:500px) {
    .gapfor_lg {
        gap: 0px;
    }

}








@media screen and (max-width:500px) {
    .mobile_tramdcate {
        margin-top: 600px;
        justify-content: center;

    }


}



@media screen and (min-width: 768px) and (max-width: 1024px) {

    .mobile_tramdcate {
        margin-top: 300px;
        justify-content: center;

    }



}




/* ------------------------------------------------------------------------- */
/* redhrbox */


/* Base styles for all screen sizes */

.red_box {
    width: 1400px !important;
    height: 250px;
    background: linear-gradient(180deg, #0081A7 0%, #015670 100%);

    color: #FFFFFF;

}

.redhrboxtext {
    width: 595px;
    height: 49px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 42px !important;
    color: #FFD65A;
    display: block;

}

.redhrboxpara {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 22px;

    color: #FFFFFF;

}

.redhrbox-input {
    width: 300px;
    height: 60px;
    border: 1px solid #ccc;

    font-size: 16px;
    outline: none;
    padding: 15px !important;
    margin-bottom: 10px;

    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-width: 2px;

}

.redhrbox-btn {

    width: 200px;
    height: 60px;
    margin-left: -10px;
    margin-top: -2px;

    padding: 20px !important;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-width: 2px;




    background: linear-gradient(360deg, #FAB12F 0%, #94691C 100%);
    color: #000000;
    border: none;




}




/* Mobile S (up to 320px) */
@media screen and (max-width: 320px) {
    .redhrboxtext {
        font-size: 15px !important;
        width: 100%;
        margin-top: 15px;
        position: static;
        /* Remove absolute positioning */
    }

    .redhrboxpara {
        font-size: 14px;
        width: 100%;
        margin-left: 0;
        /* Remove negative margin */
        margin-top: 10px;
    }
}

/* Mobile M (up to 375px) */
@media screen and (max-width: 375px) {
    .redhrboxtext {
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
    }

    .redhrboxpara {
        font-size: 16px;
        width: 100%;
        margin-left: 0;
        /* Remove negative margin */
        margin-top: 15px;
    }


    .redhrbox-input {
        width: 300px;
        height: 60px;
        border: 1px solid #ccc;

        font-size: 16px;
        outline: none;
        padding: 15px !important;
        margin-bottom: 10px;
        margin-left: -1900px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        border-width: 2px;

    }

    .redhrbox-btn {

        width: 200px;
        height: 60px;
        margin-left: -10px;
        margin-top: -2px;

        padding: 20px !important;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        border-width: 2px;
        background: linear-gradient(360deg, #FAB12F 0%, #94691C 100%);
        color: #000000;
        border: none;


    }
}

/* Mobile L (up to 425px) */
@media screen and (max-width: 425px) {
    .redhrboxtext {
        font-size: 26px !important;
        width: 400px;
        margin-top: 25px;
        margin-left: -6px;

    }

    .redhrboxpara {
        font-size: 16px;
        width: 400px;
        margin-left: 0;
        margin-top: -5px;
    }


    .redhrbox-input {
        width: 200px;
        height: 60px;
        border: 1px solid #ccc;

        font-size: 16px;
        outline: none;
        padding: 15px !important;
        margin-bottom: 10px;
        margin-left: -150px;
        border-top-left-radius: 90px;
        border-bottom-left-radius: 90px;
        border-width: 2px;

    }

    .redhrbox-btn {

        width: 180px;
        height: 60px;
        /* margin-left: -1000px; */
        margin-top: -68px;

        padding: 20px !important;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        border-width: 2px;
        background: linear-gradient(360deg, #FAB12F 0%, #94691C 100%);
        color: #000000;
        border: none;
  margin-left: 230px;

    }


    .redbtninut {

        margin-left: -500px !important;
    }



}



/* ------------------------------------------------------------------------------------------------------- */

/* top location */


.city_img {
    width: 19rem;


}



@media screen and (max-width:500px) {
    .city_img {
        width: 16rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .city_img {
        width: 11rem;
    }
}


/* .img_list{
display: flex;

} */


.city_btn {
    width: 18rem;
    height: 48px;
    margin-top: -15px;
    border: none;
    padding: 10px;

    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 28.13px;
    color: #FFFFFF;
    background-color: #0081A7;


    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;


}


@media screen and (max-width:500px) {
    .city_btn {
        width: 242px;
        height: 48px;
        margin-top: -15px;
        border: none;
        padding: 10px;

        font-family: Roboto;
        font-weight: 600;
        font-size: 20px;
        line-height: 28.13px;

        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        background-color: #0081A7;

    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .city_btn {
        width: 170px;

        margin-top: -15px;
        border: none;
        padding: 10px;

        font-family: Roboto;
        font-weight: 600;
        font-size: 20px;
        line-height: 28.13px;
        margin-left: px;

        background-color: #0081A7;

        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;



    }



    .inner_carousalbtn {
        margin-left: 66px !important;


    }


    .inner_carousalbtn2 {
        margin-right: 66px !important;


    }

}


.toplocation {
    text-align: center;
}


.inner_carousalbtn {
    margin-left: 120px;
}


.inner_carousalbtn2 {
    margin-right: 120px;
}

/* mobile s */
@media screen and (max-width:320px) {

    .inner_carousalbtn {
        margin-left: 80px !important;
    }


    .inner_carousalbtn2 {
        margin-right: 80px !important;
    }
}


/* mobile m */
@media screen and (max-width:375px) {

    .inner_carousalbtn {
        margin-left: 0px !important;
    }


    .inner_carousalbtn2 {
        margin-right: 0px !important;
    }
}


/* mobile l */
@media screen and (max-width:425px) {

    .inner_carousalbtn {
        margin-left: 0px !important;
    }


    .inner_carousalbtn2 {
        margin-right: 0px !important;
    }
}






/* Why HRIFY Jobs is the Best Choice for You! */

.Tailored {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;


}

.Tailoredpara {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #00000099;


}






/*  section hidden and block function   */


.hidden_boder {
    width: 900px;
    height: 452px;
    margin-top: -3600px;
    margin-left: 220px;
    box-shadow: 0px 0px 20px 2px #00000033;
    position: absolute;
    background-color: #FFFFFF;

}





@media screen and (max-width:500px) {
    .hidden_boder {
        width: 370px;
        height: 780px;
        margin-top: -7400px;
        margin-left: 10px;
        position: relative;
        box-shadow: 0px 0px 20px 2px #00000033;

    }
}





@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hidden_boder {
        width: 570px;
        height: 780px;
        margin-top: -5300px;
        margin-left: 100px;
        box-shadow: 0px 0px 20px 2px #00000033;

    }
}




.box-one {
    width: 350px;
    height: 300px;
    margin-top: 20px;
    margin-left: 70px;

}

@media screen and (max-width:500px) {
    .box-one {
        width: 330px;
        height: 300px;
        margin-top: 20px;
        margin-left: 20px;

    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .box-one {
        width: 360px;
        height: 300px;
        margin-top: 20px;
        margin-left: 100px;

    }
}


.h_reg_btn {
    width: 222px;
    height: 43px;
    top: 236.5px;
    left: 94px;
    gap: 10px;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;


    background: #D8DBE5;



    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0%;
    text-align: center;


    color: #0231FF;


}


.hiddenlogin_btn {
    width: 335px;
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 150px;
}


@media screen and (max-width:500px) {

    .hiddenlogin_btn {
        width: 305px;
        background-color: #FF0000;
        color: white;
        border: none;
        padding: 8px 16px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-left: 0px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hiddenlogin_btn {
        width: 335px;
        background-color: #FF0000;
        color: white;
        border: none;
        padding: 8px 16px;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-left: 0px;
    }


}


.close_btn {
    position: absolute;
    margin-top: -60px;
    margin-left: 470px;
}

@media screen and (max-width:500px) {
    .close_btn {
        position: absolute;
        margin-top: -80px;
        margin-left: 150px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .close_btn {
        position: absolute;
        margin-top: -60px;
        margin-left: 230px;
    }

}


.emp_btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 26px;
    line-height: 30.47px;
    letter-spacing: 2%;
    text-align: center;
    color: #000000;

}


.user_profile {
    width: 200px;
    height: 480px;
    margin-top: -3660px;
    margin-left: 1000px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    position: absolute;

}

@media screen and (max-width:500px) {
    .user_profile {
        width: 200px;
        height: 480px;
        margin-top: -800px;
        margin-left: 150px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.09px;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
        position: absolute;

    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .user_profile {
        width: 400px;
        height: 480px;
        margin-top: -5350px;
        margin-left: 300px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 20px;
        line-height: 21.09px;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
        position: absolute;


    }

}


.home_closebtn {
    width: 20px;
    margin-left: 45px;
    margin-top: -5px;
    position: absolute;
}





/* -------------------- */